<div class='row'>
    <div class='container' id='main-content'>
        <div class='jumbotron bg-warning col-md-8'>
            <h2 class="text-body">These delicious burgers are available!</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class='jumbotron bg-warning col-md-4 '>
            <h2 class="text-body">JUST SOLD OUT 😢</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    <h5 class="text-body">{{this.burger_name}}</h5>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class='row'>
    <div class='container' id='addburg'>
        <div class='jumbotron bg-warning col-md text-center'>
            <h2 class="text-body">ADD YOUR OWN DELICIOUSNESS!</h2>
            <form class='create-burger'>

                <div class='form-group'>
                    <label for='burg'>
                        <h5 class="text-body">Your Burger Name</h5>
                    </label>
                    <input type='text' id='burg' name='burgname'>
                </div>

                <button type='submit'>ADD YOUR DELICIOUSNESS</button>
            </form>
        </div>
    </div>
</div>

{{!-- <div class='jumbotron eaten'>
    <div class='row'>
        <div class='col-md-6'>
            <h2>JUST SOLD OUT 😢</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div> --}}