<li>
    <h5 class="text-body">
        {{burger_name}}

        <button id={{id}} class='change-devoured' data-id='{{id}}' data-newdevoured=true>
            {{#if devoured}}Devour this burger!{{/if}}
        </button>
    </h5>
</li>